*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-align: center;
}

img{
    width: 100%;
    border-radius: 4px;
}

.container{
    width: 70%;
    margin: 10px auto;
    overflow: hidden;
}

#header{
    padding: 10px;
}

.image-container{
    width: 80%;
    margin: 20px auto;
}

.contact-details{
    margin: 20px auto;
    background: #333;
    width: 100%;
    border-radius: 4px;
    color: #fff;
}

.contact-label{
    font-weight: bold;
}

.contact-details a{
    color: #00ace6;
    font-weight: bold;
    text-decoration: none;
}

.showcase{
    background: url('./images/header-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    border-radius: 4px;
}

.showcase-content{
  color: #000;
  font-weight: bold;
  background: #fff;
  opacity: 0.9;
}

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar a{
    text-decoration: none;
    color: #00ace6;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}

#navbar a:hover{
    color: #fff;
    background: #00ace6;
}

.active{
    text-decoration: underline;
    text-underline-position: below;
}

#services{
    margin-bottom: 10px;
}

#contact-us-grid img{
    width: 100%;
}

#services, #contact-us-grid{
    height: 350px;
    background: #cccccc;
    border-radius: 4px;
}

.card-container{
    padding: 10px;
}

#footer{
    height: 50px;
}

.treezy{
    font-weight: bold;
    
}

#footer a{
    text-decoration: none;
    color: #00b300;
}



/* Media Queries */
@media only screen and (min-width: 600px) {
    /* For tablets: */
 
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .image-container{
        width: 30%;
    }

    .contact-details, .showcase-content{
        width: 60%;
        margin: auto;
    }

    #navbar li{
        display: inline;
        padding: 10px;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
  }